.tabela, .tabela td, .table th {
    border: 1px solid #010101;
    border-collapse: collapse;
}

.tabela td, .tabela th {
    padding: 10PX;
}

.tabela {
    width: 100%;
    overflow-x: auto;
}

.container-table{
    overflow-x: auto;
}

.tabela th{
    color: #f1f1f1;
    background-color: #010101;
}

/* usado para selecionar os elementos filhos */
.tabela tr:nth-child(odd){
    background-color: #cecece;
}

.tabela tr:hover{
    background-color: rgb(249, 249, 132);
}